body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1,
p {
  text-align: center;
}

a.link {
  color: rgb(140, 43, 151);
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 40%;
}
